* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* Color class Property */
.green {
  color: #16cb88;
}
.darkB {
  color: #0e2b5c;
}
.darkGr {
  color: rgb(109 127 157);
}
/* Color class Property End */

.display-3 {
  font-weight: 700;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}
img {
  width: 100%;
}

.secH {
  font-size: 35px !important;
  line-height: 1.5;
}


/* NAVBAR CSS START */
.navbar {
  box-shadow: 0 5px 15px #00000029;
  background-color: #6a38c2;
  font-weight: 600;
}
.nav-link:focus, .nav-link:hover{
  color: white;
  scale: 1.1;
}
.navbar-nav .nav-link{
  transition: all 0.5s ease-in-out;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #0ecffa;
  font-weight: 700;
}
.nav-item{
  position: relative;
}
.nav-item::after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  left: 50%;
  height: 2px;
  transform: translateX(-50%);
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.nav-item:hover::after{
  width: 100%;
}
.nav-link {
  color: #ffffff;
}

/* NAVBAR CSS End */

/* banner section start */
.banner {
  position: relative;
}
.bannerText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap {
  border-radius: 5px;
  box-shadow: 0 2px 10px #00000048;
}

.btn-primary {
  background-color: #6a38c2;
}
.btn-primary:hover {
  background-color: #7a4acd;
}


.Loginform input {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid grey;
  border-radius: 6px;
  min-height: 45px;
  color: black;
  outline: none;
  transition: 0.35s;
  background-color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 6px 6px 10px #ebebeb, 1px 1px 10px rgba(255, 255, 255, 0.6);
}
.Loginform input:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}


.Loginform input::placeholder {
  color: #999;
 
}
.Loginform .btn-primary{
  padding: 10px 35px;
  cursor: pointer;
  background-color: #212121;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6);
  color: #999;
  font-size: 15px;
  font-weight: bold;
  transition: 0.35s;
  background-color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 6px 6px 10px #ebebeb, 1px 1px 10px rgba(255, 255, 255, 0.6);
}

.Loginform .btn-primary:hover{
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.Loginform .btn-primary:focus-visible{
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.Loginform .btn-primary:active{
  transform: scale(1.05);
  background-color: white;
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  border: none;
  color: #999;
}

.Loginform .wrap{
  box-shadow: inset 2px 2px 10px #dddddd, inset -1px -1px 5px rgba(255, 255, 255, 0.6);
    background-color: #fff;
  border-radius: 20px;
}

.Loginform input:focus::placeholder {
  transition: 0.3s;
  opacity: 0;
}


.mar {
  margin: 10px 0;
}

textarea {
  resize: none;
}
.Signupform input[value="Recruiter"]{
  color: #a1a1a1;
}
.Signupform input,
.Signupform #Category {
  width: 100%;
  padding: 6px 12px;
  border-radius: 6px;
  min-height: 45px;
  color: black;
  outline: none;
  transition: 0.35s;
  background-color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 6px 6px 10px #ebebeb, 1px 1px 10px rgba(255, 255, 255, 0.6);
}
.Signupform input::placeholder {
  color: #999;
 
}
.Signupform .btn-primary{
  padding: 10px 35px;
  cursor: pointer;
  background-color: #212121;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6);
  color: #999;
  font-size: 15px;
  font-weight: bold;
  transition: 0.35s;
  background-color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 6px 6px 10px #ebebeb, 1px 1px 10px rgba(255, 255, 255, 0.6);
}

.Signupform .btn-primary:hover{
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.Signupform .btn-primary:focus-visible{
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.Signupform .btn-primary:active{
  transform: scale(1.05);
  background-color: white;
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  border: none;
  color: #999;
}

.Signupform input:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}
.Signupform .wrap{
  box-shadow: inset 2px 2px 10px #dddddd, inset -1px -1px 5px rgba(255, 255, 255, 0.6);
    background-color: #fff;
  border-radius: 20px;
}



.Signupform input:focus::placeholder {
  transition: 0.3s;
  opacity: 0;
}

#Category2 {
  border: none;
  position: absolute;
  top: 30px;
  left: 10px;
  height: 28px;
}
#Category2:focus-visible {
  outline: none;
}

.pas {
  position: relative;
}
.fa-eye-slash {
  position: absolute;
  color: black;
  top: 35px;
  right: 10px;
}
.fa-eye {
  position: absolute;
  color: #6a38c2;
  top: 35px;
  right: 10px;
  display: none;
}
.eye{
  position: absolute;
  height: 16px;
  width: 16px;
  background-image: url('../image/close1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 27px;
  right: 16px; 
  z-index: 1;
  mix-blend-mode: darken;
}
.eye1{
  z-index: 1;
  position: absolute;
  height: 16px;
  width: 16px;
  background-image: url('../image/open1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 27px;
  right: 16px; 
  mix-blend-mode: darken;
}
.Recruiter {
  display: none;
}
.inst div[class*="col-"]:nth-child(1) {
  padding-right: 0;
}
.inst div[class*="col-"]:nth-child(2) {
  padding: 0;
}
.inst div[class*="col-"]:nth-child(3) {
  padding-left: 0;
}

.inst .mar {
  position: relative;
}
.fa-file-lines {
  position: absolute;
}
.fa-cloud-arrow-up {
  position: absolute;
}
input,
select,
textarea {
  height: 40px;
  margin: 10px ;
}
input.choose {
  position: relative;
}
input.choose::before {
  content: "\f15c";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #6a38c2;
  pointer-events: none;
  color: white;
}

.Upload {
  position: relative;
  height: 40px;
  width: 100%;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid grey;
  overflow: hidden;
}
.Upload::before {
  content: "\f0ee";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #6a38c2;
  pointer-events: none;
  color: white;
}

.myJobs form[role="search"] .btn:focus {
  border: none;
  border-width: 0;
  outline: none;
}
.myJobs form[role="search"] .btn:active{
  border: none;
  border-width: 0;
  outline: none;
}



.myJobs form[role="search"] {
  position: relative;
}

.MyjobCard .row{
  box-shadow: 0 2px 10px #00000048;
  border-radius: 10px;
}
.MyjobCard .stars i{
  color: #b4b4b4;
  margin-right: 4px;
  font-size: 1.5rem;
}

.MyjobCard .textpart p{
margin-top: 10px;
margin-bottom: 0;
}


.myJobs input {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid grey;
  border-radius: 6px;
  min-height: 45px;
  color: black;
  outline: none;
  transition: 0.35s;
  background-color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 6px 6px 10px #ebebeb, 1px 1px 10px rgba(255, 255, 255, 0.6);
}
.myJobs input:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  border: none;
}


.myJobs input::placeholder {
  color: #999;
 
}
.myJobs .btn{
  padding: 10px 35px;
  cursor: pointer;
  background-color: #212121;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6);
  color: #999;
  font-size: 15px;
  font-weight: bold;
  transition: 0.35s;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 6px 6px 10px #ebebeb, 1px 1px 10px rgba(255, 255, 255, 0.6);

}

.myJobs .btn:hover{
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.myJobs .btn:focus-visible{
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.myJobs .btn:active{
  transform: scale(1.05);
  background-color: white;
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  border: none;
  color: #999;
  
}

.myJobs input:focus::placeholder {
  transition: 0.3s;
  opacity: 0;
}













.modal-footer {
border-top: 0;
justify-content: space-between;
}
.modal-footer button{
  width: 45%;
}
.modal-header {
  border-bottom: 0;
}
#exampleModal input,#exampleModal label{
width: 100%;
height: 40px;

}
#exapleModal input{
  padding: 6px 12px;
border-radius: 5px;
border: 1px solid grey;
}

#exampleModal input:focus {
  border: 1px solid black;
}

.modal-content{
  padding: 30px;
}

.miniCard .btn-blue{
background-color: #5d5dff;
color: #ffffff;
}
.miniCardBtn .btn{
  vertical-align:middle;
  width: 100%;
  height: 50px;
  transition: all 1s ease-in-out;
}  
.miniCardBtn .btn:hover{
height: 180px;
}

.miniCardBtn a.btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.miniCardBtn{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.Add select[name="jobType"],.Add select[name="duration"],.Add input[type="date"]{
  color: #a1a1a1;
}

.Add input,.Add select {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid grey;
  border-radius: 6px;
  min-height: 45px;
  color: black;
  outline: none;
  transition: 0.35s;
  background-color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 6px 6px 10px #ebebeb, 1px 1px 10px rgba(255, 255, 255, 0.6);
}
.Add input:focus,.Add select:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}


.Add input::placeholder {
  color: #999;
 
}
.Add .btn-primary{
  padding: 10px 35px;
  cursor: pointer;
  background-color: #212121;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6);
  color: #999;
  font-size: 15px;
  font-weight: bold;
  transition: 0.35s;
  background-color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 6px 6px 10px #ebebeb, 1px 1px 10px rgba(255, 255, 255, 0.6);
  margin:40px auto 0;
}

.Add .btn-primary:hover{
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.Add .btn-primary:focus-visible{
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.Add .btn-primary:active{
  transform: scale(1.05);
  background-color: white;
  box-shadow: 6px 6px 10px rgb(232 232 232), 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgb(220 220 220), inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  border: none;
  color: #999;
  
}

.Add .wrap{
  box-shadow: inset 2px 2px 10px #dddddd, inset -1px -1px 5px rgba(255, 255, 255, 0.6);
    background-color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
}

.Add input:focus::placeholder {
  transition: 0.3s;
  opacity: 0;
}



.cardApplications .NameAndStars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  color: #080808;
  padding: 30px;
}

.cardApplications .wrapNameAndStars{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}
.cardApplications .ApplicationsText h2{
  margin-bottom: 30px;
}
.cardApplications .container{
  padding: 30px;
}
.cardApplications .col-auto {
  box-shadow: 4px 4px 10px #00000033;
  border-radius: 10px;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
}
.cardApplications .ApplicationsText{
  min-width: 280px;
  padding: 80px 30px 30px;
}

.ApplicationsText div{
margin-bottom: 10px;
}
.ApplicationsText i.fa-star{
  color: #ffcd28;
}
.ApplicationsText i.fa-circle-check{
  color: #198754;
}
.ApplicationsText button.upload{
  position: absolute;
  background-color: #5167e2;
  padding: 15px 20px;
  border-radius: 40px 0 0 40px;
  color: #fff;
  top: 10px;
  right: 0px;
}
#disApplicants{
  gap: 24px;
}
section#display .container {
  margin-bottom: 40px;
}

.cardApplications .col-auto .RejectedTag{
  height: 39px;
  text-align: center;
  padding: 7px 0;
  width: 200px;
  background-color: red;
  color: #fff;
  position: absolute;
  top: 8px;
  left: -69px;
  transform: rotate(-45deg);
}

.filter {
  display: table;
  margin: auto;
  padding: 10px 35px;
    cursor: pointer;
    background-color: #212121;
    border-radius: 6px;
    border: 2px solid #212121;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 1), 1px 1px 10px rgba(255, 255, 255, 0.6);
    color: #999;
    font-size: 15px;
    font-weight: bold;
    transition: 0.35s;
    background-color: #fff;
    border: 2px solid #ffffff;
    box-shadow: 6px 6px 10px #ebebeb, 1px 1px 10px rgba(255, 255, 255, 0.6);
}
.navbar #img{
  width: 10%;
  margin-left: 40px;
}
.navbar-brand{
  width: 72%;
}



@media (max-width: 575.98px) { 
  
.cardApplications .ApplicationsText{
  max-width: 336px;
}
}


@media (max-width: 767.98px) { 
.cardApplications .ApplicationsText{
  padding: 30px;
}
.cardApplications .ApplicationsText h2{
  padding-top: 70px;
}
.cardApplications .col-auto .row{
  justify-content: center;
}

}
